{% extends 'base.html.twig' %}

{% block title %}Edit Article{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="my-4">Edit Article: {{ article.title }}</h1>
        <form method="post">
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{ article.title }}">
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea class="form-control" id="description" name="description">{{ article.description }}</textarea>
            </div>
            <button type="submit" class="btn btn-success">Update</button>
            <a href="{{ path('app_article_list') }}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
{% endblock %}
