{% extends 'base.html.twig' %}

{% block title %}Article Details{% endblock %}

{% block main %}
    <div class="container">
        <h1 class="title-show">{{ article.title }}</h1>
        <p class="description-show">{{ article.description }}</p>
        <a href="{{ path('app_article_list') }}" class="btn btn-primary">Back to List</a>
    </div>
{% endblock %}
